/*
  Based on TailwindCSS recommendations,
  consider using classes instead of the `@apply` directive
  @see https://tailwindcss.com/docs/reusing-styles#avoiding-premature-abstraction
*/
#mermaid-diagram-3gt29o {
  @apply text-base fill-black;
  font-family: "trebuchet ms", verdana, arial, sans-serif;
}
@keyframes edge-animation-frame {
  from {
    stroke-dashoffset: 0;
  }
}
@keyframes dash {
  to {
    stroke-dashoffset: 0;
  }
}
#mermaid-diagram-3gt29o .edge-animation-slow {
  @apply animate-[dash_50s_linear_infinite];
  stroke-dasharray: 9, 5 !important;
  stroke-dashoffset: 900;
  stroke-linecap: round;
}
#mermaid-diagram-3gt29o .edge-animation-fast {
  @apply animate-[dash_20s_linear_infinite];
  stroke-dasharray: 9, 5 !important;
  stroke-dashoffset: 900;
  stroke-linecap: round;
}
#mermaid-diagram-3gt29o .error-icon {
  @apply fill-[#552222];
}
#mermaid-diagram-3gt29o .error-text {
  @apply fill-[#552222] stroke-[#552222];
}
#mermaid-diagram-3gt29o .edge-thickness-normal {
  @apply stroke-[1px];
}
#mermaid-diagram-3gt29o .edge-thickness-thick {
  @apply stroke-[3.5px];
}
#mermaid-diagram-3gt29o .edge-pattern-solid {
  stroke-dasharray: 0;
}
#mermaid-diagram-3gt29o .edge-thickness-invisible {
  @apply stroke-0 fill-none;
}
#mermaid-diagram-3gt29o .edge-pattern-dashed {
  stroke-dasharray: 3;
}
#mermaid-diagram-3gt29o .edge-pattern-dotted {
  stroke-dasharray: 2;
}
#mermaid-diagram-3gt29o .marker {
  @apply fill-[#F8B229] stroke-[#F8B229];
}
#mermaid-diagram-3gt29o .marker.cross {
  @apply stroke-[#F8B229];
}
#mermaid-diagram-3gt29o svg {
  @apply text-base;
  font-family: "trebuchet ms", verdana, arial, sans-serif;
}
#mermaid-diagram-3gt29o p {
  @apply m-0;
}
#mermaid-diagram-3gt29o .actor {
  @apply stroke-[hsl(78.1578947368,58.4615384615%,54.5098039216%)] fill-[#cde498];
}
tspan {
  @apply fill-[black] stroke-none fill-[black] stroke-none fill-[black] stroke-none fill-[black] stroke-none;
}
#mermaid-diagram-3gt29o .actor-line {
  @apply stroke-[hsl(78.1578947368,58.4615384615%,54.5098039216%)];
}
#mermaid-diagram-3gt29o .innerArc {
  @apply stroke-[1.5];
  stroke-dasharray: none;
}
#mermaid-diagram-3gt29o .messageLine0 {
  @apply stroke-[1.5] stroke-[#333];
  stroke-dasharray: none;
}
#mermaid-diagram-3gt29o .messageLine1 {
  @apply stroke-[1.5] stroke-[#333];
  stroke-dasharray: 2, 2;
}
#mermaid-diagram-3gt29o #arrowhead path {
  @apply fill-[#333] stroke-[#333];
}
#mermaid-diagram-3gt29o .sequenceNumber {
  @apply fill-[white];
}
#mermaid-diagram-3gt29o #sequencenumber {
  @apply fill-[#333];
}
#mermaid-diagram-3gt29o #crosshead path {
  @apply fill-[#333] stroke-[#333];
}
#mermaid-diagram-3gt29o .messageText {
  @apply fill-[#333] stroke-none;
}
#mermaid-diagram-3gt29o .labelBox {
  @apply stroke-[#326932] fill-[#cde498];
}
#mermaid-diagram-3gt29o .loopLine {
  @apply stroke-[2px] stroke-[#326932] fill-[#326932];
  stroke-dasharray: 2, 2;
}
#mermaid-diagram-3gt29o .note {
  @apply stroke-[#6eaa49] fill-[#fff5ad];
}
#mermaid-diagram-3gt29o .activation0 {
  @apply fill-[#f4f4f4] stroke-[#666];
}
#mermaid-diagram-3gt29o .activation1 {
  @apply fill-[#f4f4f4] stroke-[#666];
}
#mermaid-diagram-3gt29o .activation2 {
  @apply fill-[#f4f4f4] stroke-[#666];
}
#mermaid-diagram-3gt29o .actorPopupMenu {
  @apply absolute;
}
#mermaid-diagram-3gt29o .actorPopupMenuPanel {
  @apply absolute fill-[#cde498] shadow-[0px_8px_16px_0px_rgba(0,0,0,0.2)];
  filter: drop-shadow(3px 5px 2px rgb(0 0 0 / 0.4));
}
#mermaid-diagram-3gt29o .actor-man line {
  @apply stroke-[hsl(78.1578947368,58.4615384615%,54.5098039216%)] fill-[#cde498];
}
#mermaid-diagram-3gt29o .actor-man circle,
#mermaid-diagram-3gt29o line {
  @apply stroke-[hsl(78.1578947368,58.4615384615%,54.5098039216%)] fill-[#cde498] stroke-[2px];
}
#mermaid-diagram-3gt29o :root {
  --mermaid-font-family: "trebuchet ms", verdana, arial, sans-serif;
}

